body {
  background-color: orange;
}
.home {
  border: 1px solid orange;
  border-radius: 5px;
  padding: 3px;
}
/* #food::after {
  display: hidden;
}
#food::before {
  display: flex;
} */
#food {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  width: 300px;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.meal {
  text-align: center;
  background-color: bisque;
  border: 2px solid black;
  border-radius: 10px;
}
